{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container pt-3">
        <div class="text-center p-2"><h1>Current Categories</h1></div>

        <form action="{% url 'categories' %}" method="post">
            {% csrf_token %}
            <div class="d-flex flex-row justify-content-around p-4">
                {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="{{ category }}" value="{{ category }}">
                    <label for="{{ category }}" class="form-check-label">{{ category }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="text-center p-2"><input type="submit" value="Search"></div>
        </form><br><hr><br>

        <div class="d-flex flex-column">
            {% if message %}
                <p><small><em>{{ message }}</em></small></p>
            {% else %}
                {% for listing in listings %}
                <div class="listing p-2 mt-2 text-center">
                    <img src="{{ listing.image.image.url }} " alt="image of listing" width="15%">
                    <div class="">  
                        <a href="{% url 'listing_page' listing.id %}"><h6><b>{{ listing.name }}</b></h6></a>
                        
                        <ul>
                            <li><b>Category</b>: {{ listing.category }}</li>
                            <li><b>Price</b>: $ {{ listing.price }}</li>
                            <br>
                            <li style="font-size: smaller; color:gray;"><em>listed on {{ listing.timestamp }} by {{listing.user.first_name}} {{listing.user.last_name}}</em></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            {% endif %} 
        </div>

{% endblock %} 