{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div>
        <h1 class="mb-5 pt-3 text-center"><strong>Active Listings</strong></h1>
    </div>

    <div class="row pt-5" id="listinglink">
        {% for listing in listings %}
            <a href="{% url 'listing_page' listing.id %}" style="text-decoration: none; color: black;" class="a-link"><div class="col-sm">
                <div class="card" style="width: 29rem;">
                    <img class="card-img-top" src="{{ listing.image.image.url }}" alt="image of listing">
                    <div class="card-body">
                        <div class="text-center"><h3 class="card-title"><strong>{{ listing.name }}</strong></h3>
                        <p class="card-text"><small><b> - <em>{{ listing.category}}</em> - </b></small></p>
                        {% if listing.is_active == True %}
                            <button class="btn btn-sm btn-success" style="width:100%;"><b>ACTIVE</b></button>
                        {% else %}
                            <button class="btn btn-sm btn-danger" style="width:100%;"><b>CLOSED</b></button>
                        {% endif %}<hr></div>
                        <p class="card-text pl-2 pt-0"><small>{{ listing.description }}</small></p>
                        <p class="card-text" style="color:darkred;"><b>Starting Bid - ${{ listing.price }}</b></p>
                        <p class="card-text" style="color: gray;"><small><em>listed on {{ listing.timestamp }} by {{listing.user.first_name}} {{listing.user.last_name}}</em></small></p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div></a><br>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}